@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  font-size: 15px;
  scroll-behavior: smooth;
}

a:link {
  text-decoration: none;
}

a, #titulo-joyas, .style-text, .section-promociones, .footer-conteiner .footer-envios, .footer-conteiner .footer-redes, .footer-conteiner .footer-pagos, .titulo-marca {
  color: #707070;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}

aside .link-productos, #titulo-joyas, #titulo-ppal-productos, .descripcion .posicion .informacion-personal, .footer-conteiner .footer-pagos {
  display: flex;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  font-size: 15px;
  scroll-behavior: smooth;
}

a:link {
  text-decoration: none;
}

a, #titulo-joyas, .style-text, .section-promociones, .footer-conteiner .footer-envios, .footer-conteiner .footer-redes, .footer-conteiner .footer-pagos, .titulo-marca {
  color: #707070;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}

aside .link-productos, #titulo-joyas, #titulo-ppal-productos, .descripcion .posicion .informacion-personal, .footer-conteiner .footer-pagos {
  display: flex;
  justify-content: center;
}

/*Estilo del header*/
.header {
  background-color: #ffdac7;
}

#logo {
  width: 40%;
}
@media screen and (max-width: 500px) {
  #logo {
    width: 50%;
  }
}

@media screen and (max-width: 500px) {
  .titulo-marca h1 {
    font-size: 1rem;
  }
  .titulo-marca h2 {
    font-size: 0.8rem;
  }
}
.titulo-marca h1 {
  font-size: 1.5rem;
}
.titulo-marca h2 {
  font-size: 1rem;
}

.distribucion {
  font-size: 1rem;
}
@media screen and (max-width: 960px) {
  .distribucion ul li a {
    font-size: 1rem;
  }
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  font-size: 15px;
  scroll-behavior: smooth;
}

a:link {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  font-size: 15px;
  scroll-behavior: smooth;
}

a:link {
  text-decoration: none;
}

a, #titulo-joyas, .style-text, .section-promociones, .footer-conteiner .footer-envios, .footer-conteiner .footer-redes, .footer-conteiner .footer-pagos, .titulo-marca {
  color: #707070;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}

aside .link-productos, #titulo-joyas, #titulo-ppal-productos, .descripcion .posicion .informacion-personal, .footer-conteiner .footer-pagos {
  display: flex;
  justify-content: center;
}

/*Estilo del header*/
.header {
  background-color: #ffdac7;
}

#logo {
  width: 40%;
}
@media screen and (max-width: 500px) {
  #logo {
    width: 50%;
  }
}

@media screen and (max-width: 500px) {
  .titulo-marca h1 {
    font-size: 1rem;
  }
  .titulo-marca h2 {
    font-size: 0.8rem;
  }
}
.titulo-marca h1 {
  font-size: 1.5rem;
}
.titulo-marca h2 {
  font-size: 1rem;
}

.distribucion {
  font-size: 1rem;
}
@media screen and (max-width: 960px) {
  .distribucion ul li a {
    font-size: 1rem;
  }
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  font-size: 15px;
  scroll-behavior: smooth;
}

a:link {
  text-decoration: none;
}

a, #titulo-joyas, .style-text, .section-promociones, .footer-conteiner .footer-envios, .footer-conteiner .footer-redes, .footer-conteiner .footer-pagos, .titulo-marca {
  color: #707070;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}

aside .link-productos, #titulo-joyas, #titulo-ppal-productos, .descripcion .posicion .informacion-personal, .footer-conteiner .footer-pagos {
  display: flex;
  justify-content: center;
}

/*Estilo del footer*/
.footer-conteiner {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: #d6d2c4;
  width: 100%;
  height: auto;
  margin-top: 2rem;
}
@media screen and (max-width: 480px) {
  .footer-conteiner {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
  }
}
.footer-conteiner .footer-pagos {
  color: #707070;
  font-size: 1rem;
  width: 100%;
}
@media screen and (max-width: 480px) {
  .footer-conteiner .footer-pagos {
    margin-left: auto;
    width: 100%;
  }
}
.footer-conteiner .footer-pagos p, .footer-conteiner .footer-pagos a {
  text-align: center;
}
.footer-conteiner .footer-redes {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  color: #3c4245;
  font-size: 0.5em;
}
.footer-conteiner .footer-envios {
  font-size: 0.5em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
@media screen and (max-width: 760px) {
  .footer-conteiner .footer-envios {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
}
.footer-conteiner iframe {
  border: 2px solid #f9d5a7;
  width: 100%;
}

.instagram {
  background-image: url(../../SRC/iconos/instagram.png);
}

.facebook {
  background-image: url(../../SRC/iconos/facebook.png);
}

.wp {
  background-image: url(../../SRC/iconos/wp.png);
}

/*SECCION PROMOCIONES pagina ppal*/
.section-promociones {
  text-align: center;
  margin-top: 0.3rem;
  border: 3px solid #ffdac7;
  border-radius: 10px;
  padding: 1em;
  font-size: 2rem;
  font-weight: bold;
  background-color: #ddeff3;
  transition-property: all;
  transition-duration: 3s;
  width: 100%;
  justify-content: center;
}

/*PAGINA PROMOCIONES*/
#titulo-promo {
  text-transform: none;
  font-size: 2rem;
  color: #0edabe;
  text-align: center;
}
@media screen and (max-width: 760px) {
  #titulo-promo {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    font-size: 1.5rem;
  }
}

#titulo-promo:hover {
  animation: promo 3s;
}

@keyframes promo {
  0% {
    color: #3eaa93;
  }
  25% {
    color: #21fdce;
  }
  50% {
    color: #88e0c3;
  }
  75% {
    color: #469987;
  }
  100% {
    color: #34c2aa;
  }
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  font-size: 15px;
  scroll-behavior: smooth;
}

a:link {
  text-decoration: none;
}

a, #titulo-joyas, .style-text, .titulo-marca, .footer-conteiner .footer-pagos, .footer-conteiner .footer-redes, .footer-conteiner .footer-envios, .section-promociones {
  color: #707070;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}

aside .link-productos, #titulo-joyas, #titulo-ppal-productos, .descripcion .posicion .informacion-personal, .footer-conteiner .footer-pagos {
  display: flex;
  justify-content: center;
}

.posicion-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0.8em;
}
@media screen and (max-width: 480px) {
  .posicion-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
  }
}
.posicion-container .posicion {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}
@media screen and (max-width: 480px) {
  .posicion-container .posicion {
    width: 100%;
  }
}
.posicion-container .posicion img {
  width: 90%;
}
.posicion-container .posicion img:hover {
  box-shadow: -1px -1px 12px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px -1px 12px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px -1px 12px 1px rgba(0, 0, 0, 0.75);
}

.style-text {
  font-size: 1.5rem;
  text-decoration: none;
}

.listado-aside {
  border: 1px solid #f5c6a5;
  border-radius: 5px;
  text-align: center;
}
.listado-aside ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
@media screen and (max-width: 670px) {
  .listado-aside ul {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
  }
}
.listado-aside ul li {
  padding: 0.8em;
  font-size: 1.5em;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  font-size: 15px;
  scroll-behavior: smooth;
}

a:link {
  text-decoration: none;
}

a, #titulo-joyas, .titulo-marca, .footer-conteiner .footer-pagos, .footer-conteiner .footer-redes, .footer-conteiner .footer-envios, .section-promociones, .style-text {
  color: #707070;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}

aside .link-productos, #titulo-joyas, #titulo-ppal-productos, .descripcion .posicion .informacion-personal, .footer-conteiner .footer-pagos {
  display: flex;
  justify-content: center;
}

/*Estilo del footer*/
.footer-conteiner {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: #d6d2c4;
  width: 100%;
  height: auto;
  margin-top: 2rem;
}
@media screen and (max-width: 480px) {
  .footer-conteiner {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
  }
}
.footer-conteiner .footer-pagos {
  color: #707070;
  font-size: 1rem;
  width: 100%;
}
@media screen and (max-width: 480px) {
  .footer-conteiner .footer-pagos {
    margin-left: auto;
    width: 100%;
  }
}
.footer-conteiner .footer-pagos p, .footer-conteiner .footer-pagos a {
  text-align: center;
}
.footer-conteiner .footer-redes {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  color: #3c4245;
  font-size: 0.5em;
}
.footer-conteiner .footer-envios {
  font-size: 0.5em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
@media screen and (max-width: 760px) {
  .footer-conteiner .footer-envios {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
}
.footer-conteiner iframe {
  border: 2px solid #f9d5a7;
  width: 100%;
}

.instagram {
  background-image: url(../../SRC/iconos/instagram.png);
}

.facebook {
  background-image: url(../../SRC/iconos/facebook.png);
}

.wp {
  background-image: url(../../SRC/iconos/wp.png);
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  font-size: 15px;
  scroll-behavior: smooth;
}

a:link {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  font-size: 15px;
  scroll-behavior: smooth;
}

a:link {
  text-decoration: none;
}

a, #titulo-joyas, .titulo-marca, .footer-conteiner .footer-pagos, .footer-conteiner .footer-redes, .footer-conteiner .footer-envios, .section-promociones, .style-text {
  color: #707070;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}

aside .link-productos, #titulo-joyas, #titulo-ppal-productos, .descripcion .posicion .informacion-personal, .footer-conteiner .footer-pagos {
  display: flex;
  justify-content: center;
}

/*Estilo del header*/
.header {
  background-color: #ffdac7;
}

#logo {
  width: 40%;
}
@media screen and (max-width: 500px) {
  #logo {
    width: 50%;
  }
}

@media screen and (max-width: 500px) {
  .titulo-marca h1 {
    font-size: 1rem;
  }
  .titulo-marca h2 {
    font-size: 0.8rem;
  }
}
.titulo-marca h1 {
  font-size: 1.5rem;
}
.titulo-marca h2 {
  font-size: 1rem;
}

.distribucion {
  font-size: 1rem;
}
@media screen and (max-width: 960px) {
  .distribucion ul li a {
    font-size: 1rem;
  }
}

#titulo-faq {
  font-size: 3rem;
  text-align: center;
  color: #707070;
  margin-top: 15px;
  margin-bottom: 30px;
}

#style-faq {
  font-size: 1rem;
  color: #5f6769;
  text-align: justify;
  letter-spacing: 1px;
  margin: 40px;
}
#style-faq #style-faq li {
  padding: 10px;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  font-size: 15px;
  scroll-behavior: smooth;
}

a:link {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  font-size: 15px;
  scroll-behavior: smooth;
}

a:link {
  text-decoration: none;
}

a, #titulo-joyas, .titulo-marca, .footer-conteiner .footer-pagos, .footer-conteiner .footer-redes, .footer-conteiner .footer-envios, .section-promociones, .style-text {
  color: #707070;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}

aside .link-productos, #titulo-joyas, #titulo-ppal-productos, .descripcion .posicion .informacion-personal, .footer-conteiner .footer-pagos {
  display: flex;
  justify-content: center;
}

/*Estilo del header*/
.header {
  background-color: #ffdac7;
}

#logo {
  width: 40%;
}
@media screen and (max-width: 500px) {
  #logo {
    width: 50%;
  }
}

@media screen and (max-width: 500px) {
  .titulo-marca h1 {
    font-size: 1rem;
  }
  .titulo-marca h2 {
    font-size: 0.8rem;
  }
}
.titulo-marca h1 {
  font-size: 1.5rem;
}
.titulo-marca h2 {
  font-size: 1rem;
}

.distribucion {
  font-size: 1rem;
}
@media screen and (max-width: 960px) {
  .distribucion ul li a {
    font-size: 1rem;
  }
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  font-size: 15px;
  scroll-behavior: smooth;
}

a:link {
  text-decoration: none;
}

a, #titulo-joyas, .titulo-marca, .footer-conteiner .footer-pagos, .footer-conteiner .footer-redes, .footer-conteiner .footer-envios, .section-promociones, .style-text {
  color: #707070;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}

aside .link-productos, #titulo-joyas, #titulo-ppal-productos, .descripcion .posicion .informacion-personal, .footer-conteiner .footer-pagos {
  display: flex;
  justify-content: center;
}

/*Estilo del footer*/
.footer-conteiner {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: #d6d2c4;
  width: 100%;
  height: auto;
  margin-top: 2rem;
}
@media screen and (max-width: 480px) {
  .footer-conteiner {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
  }
}
.footer-conteiner .footer-pagos {
  color: #707070;
  font-size: 1rem;
  width: 100%;
}
@media screen and (max-width: 480px) {
  .footer-conteiner .footer-pagos {
    margin-left: auto;
    width: 100%;
  }
}
.footer-conteiner .footer-pagos p, .footer-conteiner .footer-pagos a {
  text-align: center;
}
.footer-conteiner .footer-redes {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  color: #3c4245;
  font-size: 0.5em;
}
.footer-conteiner .footer-envios {
  font-size: 0.5em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
@media screen and (max-width: 760px) {
  .footer-conteiner .footer-envios {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
}
.footer-conteiner iframe {
  border: 2px solid #f9d5a7;
  width: 100%;
}

.instagram {
  background-image: url(../../SRC/iconos/instagram.png);
}

.facebook {
  background-image: url(../../SRC/iconos/facebook.png);
}

.wp {
  background-image: url(../../SRC/iconos/wp.png);
}

/*PERFIL*/
.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.container .posicion {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 50%;
}
.container .posicion .registrate {
  font-size: 1rem;
  color: #e9768f;
  font-family: "Raleway", sans-serif;
}
.container .posicion .registrate .boton {
  background-color: #b2b1b9;
  color: #ee316a;
  align-items: center;
}
.container .Question {
  color: #707070;
  font-size: 1rem;
}
.container .titulo-registrate {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: #ee316a;
}
.container .titulo-registrate:hover {
  animation: registro 2s;
}
@keyframes registro {
  0% {
    color: #fc9fbb;
  }
  25% {
    color: #f88bac;
  }
  50% {
    color: #f5618d;
  }
  75% {
    color: #ee316a;
  }
  100% {
    color: #fc9fbb;
  }
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  font-size: 15px;
  scroll-behavior: smooth;
}

a:link {
  text-decoration: none;
}

a, #titulo-joyas, .titulo-marca, .footer-conteiner .footer-pagos, .footer-conteiner .footer-redes, .footer-conteiner .footer-envios, .section-promociones, .style-text {
  color: #707070;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}

aside .link-productos, #titulo-joyas, #titulo-ppal-productos, .descripcion .posicion .informacion-personal, .footer-conteiner .footer-pagos {
  display: flex;
  justify-content: center;
}

/*PAGINA MEDIDAS*/
/*ESTA MEDIA NO FUNCIONA, LA CAMBIE DE MEDIDAs A POSICIÓN RESP*/
.medidas {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
@media screen and (max-width: 750px) {
  .medidas h2 {
    font-size: 0.5em;
  }
  .medidas img {
    width: 100%;
    align-items: center;
    margin: 1rem;
  }
}
.medidas .posicion-resp {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.medidas .posicion-resp img {
  width: 40%;
  margin-left: 1rem;
}
.medidas .posicion-resp h2 {
  width: 100%;
  font-size: 1rem;
  text-align: center;
  color: #5f6769;
  margin: 1rem;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  font-size: 15px;
  scroll-behavior: smooth;
}

a:link {
  text-decoration: none;
}

a, #titulo-joyas, .titulo-marca, .footer-conteiner .footer-pagos, .footer-conteiner .footer-redes, .footer-conteiner .footer-envios, .section-promociones, .style-text {
  color: #707070;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}

aside .link-productos, #titulo-joyas, #titulo-ppal-productos, .descripcion .posicion .informacion-personal, .footer-conteiner .footer-pagos {
  display: flex;
  justify-content: center;
}

.descripcion {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
@media screen and (max-width: 600px) {
  .descripcion {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
  }
}
.descripcion .nombre {
  font-size: 2rem;
  text-transform: capitalize;
  text-align: center;
  background-color: #ddeff3;
  margin-top: 3rem;
}
.descripcion .posicion {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.descripcion .posicion #foto {
  display: flex;
  justify-content: center;
  width: 60vh;
  height: auto;
  border-radius: 50px;
  border: 1px solid #ffdac7;
  margin-top: 0.5rem;
}
.descripcion .posicion #foto:hover {
  box-shadow: -1px -1px 12px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px -1px 12px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px -1px 12px 1px rgba(0, 0, 0, 0.75);
}
.descripcion .posicion .informacion-personal {
  background-color: #d6d2c4;
  font-size: 1.5rem;
  text-align: center;
  border: 4px solid #ddeff3;
  border-style: groove;
  font-family: "Raleway", sans-serif;
  text-transform: none;
}
.descripcion .posicion .informacion-personal:hover {
  box-shadow: -1px -1px 12px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px -1px 12px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px -1px 12px 1px rgba(0, 0, 0, 0.75);
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  font-size: 15px;
  scroll-behavior: smooth;
}

a:link {
  text-decoration: none;
}

#titulo-ppal-productos {
  font-size: 2rem;
  color: #ffdac7;
  background-color: #b2b1b9;
  margin-top: 1rem;
}

#titulo-joyas {
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border: 2px solid #707070;
  background-color: #ffdac7;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.container .posicion-item {
  display: flex;
  flex-direction: column;
  width: 15vh;
  margin: 1em;
}
.container .posicion-item #imgs-productos {
  width: 100%;
  height: 100%;
  border: 2px solid #ffdac7;
  border-radius: 1rem;
  margin: 1rem;
}

@media screen and (max-width: 780px) {
  aside a {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 460px) {
  aside a {
    font-size: 1rem;
  }
}
aside .link-productos {
  font-size: 2rem;
  border: 2px solid #5f6769;
  border-radius: 1rem;
  background-color: #ffdac7;
  width: 30%;
  margin: 0.5rem;
}

/*# sourceMappingURL=style.css.map */
