@import "lista";

* {
    margin: 0;
    padding: 0;
    list-style:none;
} 

html{
    font-size: 15px;
    scroll-behavior: smooth;
}

.body {
    background-color:nth ($color,5);
}

a:link {
    text-decoration: none;
    @extend %texto;
  }