@import "../base/lista";
@import "../base/general";
@import "../base/extends";
@import "../base/mixins";

/*Estilo del footer*/

.footer-conteiner {
    @media screen and (max-width: 480px) {
        @include flexbox(flex, column wrap, center);
    }
    @include flexbox(flex, row wrap, center);

    background-color: nth($color, 12);
    width: 100%;
    height: auto;
    margin-top: 2rem;

    .footer-pagos {
        @media screen and (max-width: 480px) {
            margin-left: auto;
            width: 100%;
        }
        color: nth($color, 3);
        font-size: 1rem;
        @extend %texto;
        @extend %centrado;
        width: 100%;

        p,
        a {
            text-align: center;
        }
    }

    .footer-redes {
        @include flexbox(flex, row nowrap, center);
        color: nth($color, 1);
        @extend %texto;
        font-size: 0.5em;
    }

    .footer-envios {
        @media screen and (max-width: 760px) {
            @include flexbox(flex, column wrap, center);
            align-items: center;
        }

        font-size: 0.5em;
        @include flexbox(flex, row nowrap, space-around);
        @extend %texto;
    }

    iframe {
        border: 2px solid nth($color, 10);
        width: 100%;
    }
}

@each $redes in instagram, facebook, wp {
    .#{$redes} {
        background-image: url(../../SRC/iconos/#{$redes}.png);
    }
}
