@import "../base/lista";
@import "../base/general";
@import "../base/extends";
@import "../base/mixins";

/*Estilo del footer*/

iframe {
    border: 2px solid nth($color, 10);
    margin-top: 40px;
}

.footer-conteiner {
    @media screen and (max-width: 480px) {
        @include flexbox(flex, column wrap, space-around);
    }
    @include flexbox(flex, row wrap, center);

    background-color: nth($color, 12);
    width: 100%;
    height: auto;
    margin-top: 2rem;

    .footer-pagos {
        @media screen and (max-width: 480px) {
            margin-left: auto;
            width: 100%;
        }
        color: nth($color, 3);
        font-family: "Roboto Mono", monospace;
        font-size: 1.5rem;
        text-transform: uppercase;
        @extend %centrado;
        margin-bottom: 10px;
    }

    .footer-redes {
        @include flexbox(flex, row nowrap, space-evenly);
        color: nth($color, 1);
        font-family: "Roboto Mono", monospace;
        font-size: 1rem;
    }

    .footer-envios {
        @media screen and (max-width: 760px) {
            @include flexbox(flex, column wrap, center);
            align-items: center;
        }
        @include flexbox(flex, row nowrap, space-around);
        color: nth($color, 3);
        font-size: 1rem;
        font-family: "Roboto Mono", monospace;
        text-transform: capitalize;
    }
    #envios {
        margin-top: 4rem;
        text-align: center;
    }
}

@each $redes in instagram, facebook, wp {
    .#{$redes} {
        background-image: url(../../SRC/iconos/#{$redes}.jpg);
    }
}
