@import "../base/lista";
@import "../base/general";
@import "../base/extends";
@import "../base/mixins";

/*Estilo del header*/


.header {
  color: nth($color, 2);
  background-color: nth($color, 8);
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.2rem;
  text-transform: uppercase;

 
  h1 {
    font-size: 1.5rem;
    }
    h2{
      font-size: 1rem;
    }

  .distribucion{
    @media screen and (max-width: 960px){
      
      ul {
        li{
            a{ font-size: 1rem;
           }
        }
      }
    }
    margin-left: 20rem;
    font-size: 1.5rem;
    }

  .titulo.marca {
    @include flexbox(flex, row nowrap, center);
  }

  #logo {
    width: 20vh;
    height: 20vh;
    border: 2px solid nth($color, 6);
  }

 
}

