@import "../base/lista";
@import "../base/general";
@import "../base/extends";
@import "../base/mixins";

/*Estilo del header*/

.header {
  background-color: nth($color, 8);

  #logo {
   
    width: 40%;
  }
  
  .titulo-marca {
           
    @extend %texto;
   
    h1 {
      font-size: 1.5em;
    }
    h2 {
      font-size: 1em;
    }
   
  }
.estilo-despliegue {
  background-color: nth($color, 8);
  border: none;
  width: 9vh;
  
  }
  
  a{
    @media screen and (max-width: 480px) {
      font-size: 1em;
      
      }
    font-size: 1.2em;
  }


}

