/*SECCIONES-PLATA-ORO-PIEDRAS inicio*/

//NO FUNCIONA #####################

@media screen and (max-width: 1331px) {
    //    .body{
    //        background-color: green;
    //    }
    //     .section-mercaderia {
    //       width: 100%;
    //     }

    //     .posicion-4 {
    //       width: 100%;
    //     }
    .para-query {
        display: grid;
        grid-template-columns: 2fr;
        grid-template-rows: 3fr;
        grid-template-areas:
            "oro plata"
            "piedras piedras"
            "preguntas preguntas";
    }
}

.section-mercaderia {
    justify-content: start;
    display: grid;
    grid-template-columns: 3fr;
    grid-template-rows: 2fr;
    grid-template-areas:
        "oro plata preguntas"
        "piedras piedras preguntas";
    height: 950px;

    div a {
        font-size: 2rem;
        @extend %centrado;
    }
}

.posicion-1:hover,
.posicion-2:hover,
.posicion-3:hover {
    transform: scale(1.03);
}

#imgs {
    width: 400px;
    height: 400px;
    margin: 20px 25px 5px 70px;
    border: 2px solid nth($color, 8);
    border-radius: 15px;
}

.posicion-1 {
    grid-area: oro;
    transition-property: all;
    transition-duration: 3s;
}

.posicion-2 {
    grid-area: plata;
    transition-property: all;
    transition-duration: 3s;
}

.posicion-3 {
    grid-area: piedras;
    transition-property: all;
    transition-duration: 3s;
}

.foto-piedra {
    width: 700px;
    height: 350px;
    margin-left: 180px;
    border: 3px solid nth($color, 8);
    border-radius: 15px;
}

/*SECCION PREGUNTAS FRECUENTES Y MEDIDAS DE ANILLO*/
.posicion-4 {
    grid-area: preguntas;
    font-size: 26px;
    font-family: "Roboto Mono", monospace;
    border: 3px solid nth($color, 8);
    margin-top: 30px;
    padding-top: 90px;
    text-align: center;
    border-radius: 20%;
    height: 700px;

    li {
        padding-top: 40px;
        padding-bottom: 40px;
        padding-right: 15px;
    }
}
