@import "../base/lista";
@import "../base/general";
@import "../base/extends";
@import "../base/mixins";

/*PAGINA MEDIDAS*/

.medidas {
    @include flexbox(flex, row wrap, center);
}
img {
    width: 40%;
    margin-left: 1rem;
}

.posicion-resp {
    @media screen and (max-width: 750px) {
        img {
            width: 90%;
            align-items: center;
            margin: 1rem;
        }

        h2 {
            font-size: 1rem;
        }
    }

    @include flexbox(flex, row wrap, center);

    h2 {
        font-size: 2rem;
        text-align: center;
        color: nth($color, 2);
    }
}
