@import "../base/lista";
@import "../base/general";
@import "../base/extends";
@import "../base/mixins";

/*PAGINA MEDIDAS*/

.medidas {
    @media screen and (max-width:750px){
        h2 {font-size: 1.5rem;}
        img {
            width: 100%;
            margin-left: 5vh;
            @include flexbox(flex, column wrap, center); 
        &:hover{
            scale: 2;
            transition-duration: 3s;
        }
            }
    }
    @include flexbox (flex, row wrap, center);
    font-size: 2rem;
    text-align: center;
    color: nth($color, 2);
    
    
img {
    width: 40%;
}
}
