@import "../base/lista";
@import "../base/general";
@import "../base/extends";
@import "../base/mixins";

/*PAGINA MEDIDAS*/

/*ESTA MEDIA NO FUNCIONA, LA CAMBIE DE MEDIDAs A POSICIÓN RESP*/

.medidas {
    @include flexbox(flex, row wrap, center);

    @media screen and (max-width: 750px) {
        h2 {
            font-size: 0.5em;
        }

        img {
            width: 100%;
            align-items: center;
            margin: 1rem;
        }
    }

    .posicion-resp {
        @include flexbox(flex, row wrap, center);

        img {
            width: 40%;
            margin-left: 1rem;
        }

        h2 {
            width: 100%;
            font-size: 1rem;
            text-align: center;
            color: nth($color, 2);
            margin: 1rem;
        }
    }
}
