@import "../base/lista";
@import "../base/general";
@import "../componentes/header";

#titulo-faq {
  font-size: 3rem;
  text-align: center;
  color: nth($color, 3);
  margin-top: 15px;
  margin-bottom: 30px;
}
#style-faq {
  font-size: 1rem;
  color: nth($color, 2);
  text-align: justify;
  letter-spacing: 1px;
  margin: 40px;

  #style-faq li {
    padding: 10px;
  }
}
