@import "../base/lista";
@import "../base/general";
@import "../componentes/header";
@import "../componentes/footer";

#titulo-faq {
  font-size: 3rem;
  text-align: center;
  color: nth($color, 3);
  margin-top: 15px;
  margin-bottom: 30px;
}
#style-faq {
  @media screen and (max-width: 480px) {
    @include flexbox(flex, column wrap, center);
    font-size: 1em;
    text-align: left;
   
}
  font-size: 1.5em;
  color: nth($color, 2);
  text-align: justify;
  letter-spacing: 1px;
  width: 90%;
  

  #style-faq li {
    padding: 0.8em;
  }
}
