@import "../base/lista";
@import "../base/general";
@import "../componentes/header";
@import "../componentes/footer";

/*SECCION PROMOCIONES pagina ppal*/
.section-promociones {
    text-align: center;
    margin-top: 5px;
    border: 3px solid nth($color, 8);
    border-radius: 10px;
    padding: 30px;
    font-family: "Roboto Mono", monospace;
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: bold;
    background-color: nth($color, 14);
    transition-property: all;
    transition-duration: 3s;
    width: 100%;
}

/*PAGINA PROMOCIONES*/

#titulo-promo {
    @media screen and (max-width:760px){
        @include flexbox(flex, column wrap, center);
        font-size: 1.5rem;
    }
    font-family: "Roboto Mono", monospace;
    font-size: 3rem;
    color: nth($color, 13);
    text-align: center;
    display: block;
    margin: 20px 10px 0px 35px;
}

#titulo-promo:hover {
    animation: promo 3s;
}

@keyframes promo {
    0% {
        color: nth($color, 16);
    }

    25% {
        color: nth($color, 17);
    }

    50% {
        color: nth($color, 18);
    }

    75% {
        color: nth($color, 19);
    }

    100% {
        color: nth($color, 20);
    }
}

.carrusel{
    @media screen and (max-width:760px){
        @include flexbox(flex, column wrap, center);
    
    }

    @include flexbox(flex, row wrap, center);
    

   h5 {
    margin-bottom: 35rem;
    
    color: nth($color,15 );
    background-color:nth($color,18 ) ;
}
p{
    color: nth($color,15 );
    background-color:nth($color,18 ) ;
   
    
}
   }
   
