@import "../base/lista";
@import "../base/general";
@import "../base/mixins";
@import "../componentes/header";
@import "../componentes/footer";

/*SECCION PROMOCIONES pagina ppal*/
.section-promociones {
    @media screen and (max-width: 480px) {
        @include flexbox(flex, column wrap, center);
        font-size:1em;
    }
    text-align: center;
    margin-top: 0.3rem;
    border: 3px solid nth($color, 8);
    border-radius: 10px;
    padding: 1em;
    font-size: 2rem;
    @extend %texto;
    font-weight: bold;
    
    transition: all 3s;
    width: 100%;
    justify-content: center;
}

/*PAGINA PROMOCIONES*/

#titulo-promo {
    @media screen and (max-width: 480px) {
        @include flexbox(flex, column wrap, center);
        font-size: 1.5em;
    }
    font-size: 2rem;
    color: nth($color, 13);
    text-align: center;
}

#titulo-promo:hover {
    animation: promo 3s;
}

@keyframes promo {
    0% {
        color: nth($color, 16);
    }

    25% {
        color: nth($color, 17);
    }

    50% {
        color: nth($color, 18);
    }

    75% {
        color: nth($color, 19);
    }

    100% {
        color: nth($color, 20);
    }
}
