@import "../base/lista";
@import "../base/general";
@import "../componentes/header";
@import "../componentes/footer";
@import "../base/mixins";

/*PERFIL*/
.container {
   @include flexbox(flex, row nowrap, center);

   .posicion {
      @include flexbox(flex, column nowrap, center);
      width: 50%;

      .registrate {
         font-size: 1rem;
         color: nth($color, 9);
         font-family: "Raleway", sans-serif;

         .boton {
            background-color: nth($color, 4);
            color: nth($color, 24);
            align-items: center;
         }
      }
   }

   .Question {
      color: nth($color, 3);
      font-size: 1rem;
   }

   .titulo-registrate {
      font-family: "Raleway", sans-serif;
      text-transform: uppercase;
      text-align: center;
      font-size: 1.2rem;
      font-weight: bold;
      color: nth($color, 24);

      &:hover {
         animation: registro 2s;
      }

      @keyframes registro {
         0% {
            color: nth($color, 21);
         }

         25% {
            color: nth($color, 22);
         }

         50% {
            color: nth($color, 23);
         }

         75% {
            color: nth($color, 24);
         }

         100% {
            color: nth($color, 21);
         }
      }
   }
}
