@import "../base/lista";
@import "../base/general";
@import "../componentes/header";
@import "../componentes/footer";
@import "../base/mixins";

/*PERFIL*/
.conteiner{
   @include flexbox(flex, row wrap, center);
   width: 50%;

   .posicion{
      width: 50%;
      display:flex;
      flex-direction:column;
      align-items: center;}
}
.Question {
   color: nth($color, 3);
   font-size: 0.98rem;
   
}

.titulo-registrate {
   font-family: "Roboto Mono", monospace;
   font-size: 1.2rem;
   font-weight: bold;
   color: nth($color, 24);
   text-transform: uppercase;
   

      &:hover {
      animation: registro 2s;
      }

   @keyframes registro {
      0% {
         color: nth($color, 21);
      }

      25% {
         color: nth($color, 22);
      }

      50% {
         color: nth($color, 23);
      }

      75% {
         color: nth($color, 24);
      }

      100% {
         color: nth($color, 21);
      }
   }
}

.registrate {
   font-size: 1rem;
   color: nth($color, 9);
   font-family: "Roboto Mono", monospace;


   .boton {
      background-color: nth($color, 4);
      color: nth($color, 24);
     

    }
}

