@import "../base/lista";
@import "../base/general";

// estilos para todos los productos


.container{
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: center;

 .posicion-item{ 
  display: flex;
  flex-direction: column;
  width: 15vh;

 }
}


#titulo-ppal-productos {
  font-size: 2.5rem;
  color: nth($color, 8);
  background-color: nth($color, 4);
  margin-top: 1rem;
  @extend %centrado;
}

#titulo-joyas {
  font-family: monospace;
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  @extend %centrado;
  color: nth($color, 3);
  border: 2px solid nth($color, 3);
  background-color: nth($color, 8);
}


#imgs-productos {
  width: 12vh;
  height: 12vh;
  border: 2px solid nth($color, 8);
  border-radius: 1rem;
  margin: 0.8rem;
}

aside {
  .link-productos {
    font-size: 3rem;
    font-family: "Roboto Mono", monospace;
    text-align: center;
    color: nth($color, 2); /*####No me lo modifica*/
    border: 2px solid nth($color, 2);
    border-radius: 1rem;
    background-color: nth($color, 8);
    width: 30%;
    @extend %centrado;
    margin: 20px 20px 20px 150px;
   
  }
  
    }

   a {
      @extend %texto;
    }
