@import "../base/lista";
@import "../base/general";
@import "../base/mixins";

// estilos para todos los productos-

#titulo-ppal-productos {
  font-size: 2.5em;
  color: nth($color, 8);
  background-color: nth($color, 4);
  margin-top: 1rem;
  @extend %centrado;
}

p{
  @media screen and (max-width: 480px) {
      font-size: 1.2em;
    }
  @include flexbox(flex, row wrap, center);
  font-size: 1.5em;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.2em;
  text-align: center;
  color: nth($color, 2);
  

}
#titulo-joyas {
  @extend %centrado;
  @extend %texto;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border: 2px solid nth($color, 3);
  background-color: nth($color, 8);
  
}

.container {
  @include flexbox(flex, row wrap, center);

  .posicion-item {
    @media screen and (max-width: 480px) {
      width: 80%;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin: 1em;

    #imgs-productos {
      width: 100%;
      height: 100%;
      border: 3px solid nth($color, 8);
      border-radius: 1rem;
      margin: 1rem;
    }
  }
}

aside {
  @media screen and (max-width: 970px) {
    a {
      font-size: 1.5rem;
    }
  }
  @media screen and (max-width: 480px) {
    a {
      font-size: 1rem;
    }
  }
  .link-productos {
    @extend %centrado;

    font-size: 2rem;
    border: 2px solid nth($color, 2);
    border-radius: 1rem;
    background-color: nth($color, 8);
    width: 30%;
    margin: 0.5rem;
  }
}

a {
  @extend %texto;
}
