@import "../base/lista";
@import "../base/general";
@import "../base/extends";
@import "../base/mixins";

.descripcion {
    @include flexbox(flex, row wrap, center);

    .nombre {
        font-size: 2rem;
        text-transform: capitalize;
        text-align: center;
        background-color: nth($color, 14);
        margin-top: 3rem;
    }
    #foto {
        width: 30vh;
        height: 50vh;
        border-radius: 50px;
        border: 5px solid nth($color, 8);
        margin-top: 0.5rem;

        &:hover {
            box-shadow: -1px -1px 12px 1px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: -1px -1px 12px 1px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: -1px -1px 12px 1px rgba(0, 0, 0, 0.75);
        }
    }

    .informacion-personal {
        width: 60%;
        margin-left: 18%;
        padding: 2.5rem;
        margin-top: 6rem;
        margin-bottom: 8rem;
        font-size: 1.5rem;
        text-align: center;
        border: 4px solid nth($color, 14);
        border-style: groove;
        font-family: "Roboto Mono" monospace;
        @extend %centrado;
    }
}
