@import "../base/lista";
@import "../base/general";
@import "../base/extends";
@import "../base/mixins";
@import "../base/mixins";


.nombre {
    font-size: 2rem;
    text-transform: capitalize;
    text-align: center;
    background-color: nth($color, 8);
    margin-top: 3rem;
    border-radius: 50%;
}

.descripcion {
      

    @include flexbox(flex, row wrap, center);

       #foto {
            filter:sepia(1);
            width: 50vh;
            height: auto;
            border-radius: 40%;
            border: 8px solid nth($color, 14);
            margin-top: 0.5rem;
        }

        .informacion-personal {
            @media screen and (max-width: 480px) {
                @include flexbox(flex, column wrap, center);
                font-size: 1.2em;
            }  
            @include flexbox(flex, row wrap, center);
            background-color: nth($color, 8);
            font-size: 1.5rem;
            text-align: center;
            font-family: "Raleway", sans-serif;
            text-transform: none;
            border-radius: 17%;

            &:hover {
                box-shadow: -1px -1px 12px 1px rgba(0, 0, 0, 0.75);
                -webkit-box-shadow: -1px -1px 12px 1px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: -1px -1px 12px 1px rgba(0, 0, 0, 0.75);
            }
        }
    
}
